// devices viewport width starts at:
$breakpoints: (
  xs-phone: 320px,
  phone: 480px,
  tablet: 768px,
  desktop: 1024px,
  widescreen: 1300px
);
 
// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import "media";
@import "base/markup-variables";
@import "base/markup-mixins";
@import "base/base-reset";


