// brand colors (http://name-of-color.com/)
$black: #000;
$white: #fff;
$mountain-mist: #999;
$ironside-gray: #666;


// base variables
$base-text-color: $black;
$base-background-color: $white;
$base-link-color: $ironside-gray;
$base-form-text-color: $black;
$base-form-placeholder-color: $mountain-mist;
$base-input-border-color: $mountain-mist;
$base-form-button-bg: $black;
$base-form-button-color: $white;

$base-font-size: 12px;
$base-line-height: 1.25;
$base-font-family: 'Arial', 'Helvetica', sans-serif;
$base-text-interval: ($base-font-size * $base-line-height);

$base-min-width: 320px;

// @font-face-serif: 
// @font-face-sans-serif: 
