$base-text-color: #000;
$base-background-color: #fff;
$base-link-color: #666;
$base-form-text-color: #000;
$base-form-placeholder-color: #999;
$base-input-border-color: #999;

$base-font-size: 12px;
$base-line-height: 1.2;
$base-font-family: Arial, Helvetica, sans-serif;

$base-min-width: 320px;

// @font-face-serif: 
// @font-face-sans-serif: 